body {
    background-color:rgb(196, 232, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    display:flex;
    flex-direction: column;
}

h1{
    font-size: 18px;
    margin-top: 20px;
    
}
div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    bottom: 50%;
    /* left: 25%; */
    margin: 0 auto;
   
    transform: translateY(50%);
    align-items: center;
    background-color: white;
    width: 20em;
    height: 25em;
}
main{
    display: flex;
    flex-direction: column;
    width: 70%;
    
}
input{
    margin-bottom: 45px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
}
footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
button{
    color: white;
    background-color: rgb(47, 151, 211);
    width: 70%;
    padding: 10px;
    
}
p{
    color: grey;
}
#sign-in{
    margin: 0 auto;
    font-style: italic;
}
#no-acc{
    font-style: italic;
    font-size: 12px;
}